[Desktop Entry]
Name=HarvestMoon64Recompiled
Type=Application
Terminal=false
Icon=HarvestMoon64Recompiled
Exec=HarvestMoon64Recompiled
GenericName=HarvestMoon64Recompiled
Categories=Game;

